
    <div class = "formulaire">
        <label>
            Nom de la variété :
            <input type="text" [(ngModel)]="varieteFormulaire.nomVariete">
        </label>
        <label>
            Année de mise en marche :
            <input type="text" [(ngModel)]="varieteFormulaire.anneeMiseMarche">
        </label>
        <label>
            Description pour le semis :
            <input type="text" [(ngModel)]="varieteFormulaire.descriptionSemis">
        </label>
        <label>
            Description de la plantation :
            <input type="text" [(ngModel)]="varieteFormulaire.plantation">
        </label>
        <label>
            Description sur la récolte :
            <input type="text" [(ngModel)]="varieteFormulaire.recolte">
        </label>
        <label>
            Description sur l'entretien :
            <input type="text" [(ngModel)]="varieteFormulaire.entretien">
        </label>
        <label>
            Période de mise de en place :
            <input type="text" [(ngModel)]="varieteFormulaire.periodeMisePlace">
        </label>
        <label>
            Période de récolte :
            <input type="text" [(ngModel)]="varieteFormulaire.periodeRecolte">
        </label>
        <label>
            Commentaire sur la variété :
            <input type="text" [(ngModel)]="varieteFormulaire.commentaire">
        </label>
        <label>Type de sol :
            <select [(ngModel)]="varieteFormulaire.typeSol"> 
                <option> Argileux </option>
                <option> Limoneux </option>
                <option> Humifère </option>
              </select>
        </label>
        <label> Nom semancier :
            <select [(ngModel)]="nomSemancier"> 
                <option> LASSONDE</option>
                <option> MICHEL </option>
                <option> PATRICK </option>
                <option> PAUL </option>
                <option> JEAN </option>
                <option> LILY </option>
                <option> CATHERINE </option>
                <option> JEREMY </option>
                <option> MARIE </option>
                <option> BENJAMIN </option>
                <option> WILL </option>
                <option> XAVIER </option>
                <option> MANON </option>
                <option> JORDAN </option>
                <option> HANNA </option>
              </select>
        </label>
        <label> Nom Plante :
            <select [(ngModel)]="nomPlante"> 
                <option> Pommier </option>
                <option> Rossier </option>
                <option> Pomme de terre </option>
                <option> Tournesol </option>
                <option> Cepe </option>
                <option> Cerisier </option>
                <option> Cactus </option>
                <option> Trefle </option>
                <option> Orchidée </option>
              </select>
        </label>
        <label>
            La variété est-elle biologique ? 
            <input type="checkbox" [(ngModel)]="varieteFormulaire.estBiologique">
        </label>
        
        <button (click)="submit()" id="submit-button"> Envoyer !</button>
    </div>