<h1 mat-dialog-title>{{action}} une variété</h1>
<div class="divider"></div>
<div class = "formulaire">
    <span>
        <mat-form-field appearance="fill">
            <mat-label>Nom de la variété</mat-label>
                <input matInput type="text" [(ngModel)]="varieteFormulaire.nomvariete" required>
        </mat-form-field>
        <mat-label>La variété est-elle biologique ?  </mat-label>  
        <input type="checkbox" [(ngModel)]="varieteFormulaire.estbiologique">
    </span>  
    

    <mat-form-field appearance="fill">
        <mat-label>Année de mise en marche :</mat-label>
            <input matInput type="number" [(ngModel)]="varieteFormulaire.anneemisemarche" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description pour le semis :</mat-label>
            <textarea matInput rows="4" cols="50" matInput type="text" [(ngModel)]="varieteFormulaire.descriptionsemis"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description de la plantation :</mat-label>
            <textarea matInput rows="4" cols="50" type="text" [(ngModel)]="varieteFormulaire.plantation"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description sur la récolte </mat-label>
            <textarea matInput rows="4" cols="50" type="text" [(ngModel)]="varieteFormulaire.recolte"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description sur l'entretien :</mat-label>
            <textarea matInput rows="4" cols="50" type="text" [(ngModel)]="varieteFormulaire.entretien"></textarea>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Période de mise de en place </mat-label>
            <input matInput type="text" [(ngModel)]="varieteFormulaire.periodemiseplace">
        </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Période de récolte </mat-label>
        <input matInput type="text" [(ngModel)]="varieteFormulaire.perioderecolte">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Commentaire sur la variété </mat-label>
        <input matInput type="text" [(ngModel)]="varieteFormulaire.commentaire">
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Type Sol </mat-label>
        <input matInput type="text" [(ngModel)]="varieteFormulaire.typesol">
    </mat-form-field>
    <div *ngIf="existe" style="color:red">
        Cette Variete existe deja
    </div>
    <div *ngIf="!estValide" style="color:red">
        Certaines données sont invalides
    </div>
    <div *ngIf="duplicateError" style="color:red">
        Cette varieté existe déja
    </div>
   <span >
    <div mat-dialog-actions>
        <button type="button" class="btn" (click)="soumettre()" id="submit-button"> {{action}}</button>
        <button type="button" class="btn" (click)="annuler()" id="submit-button"> Annuler </button>
    </div>
   </span>
    <div class = "formulaire">