<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/jardins">Nos Jardins</a>
      <a class="nav-item nav-link active" routerLink="/variete">Les variétés</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <div class = "content-home">
    <p class = "intro-text">
      Bienvenenue chez Garden-Royal
    </p>
    <button type="button" class="btn" routerLink="/jardins">Découvrir nos jardins &#10140;</button>
  </div>
</div>

<router-outlet></router-outlet>
