#hts{
    margin-top: 10px;
    margin-bottom: 10px;
}

#ht{
    margin-top: 20px;
}
.title {
    color: var(--theme-purple);
    font-family: 'Roboto', sans-serif;
}

.home {
    width: 100%;
    background-color: var(--theme-background);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    text-align: center;
    height: 90%;
    background-image: url('../assets/forest.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.hotel1 {
    color: var(--theme-purple);
    font-family: 'Varela Round', sans-serif;
}

.hotel2 {
    color: var(--theme-blue);
    font-family: 'Varela Round', sans-serif;
}

.hotel3 {
    color: var(--theme-lightblue);
    font-family: 'Varela Round', sans-serif;
}

.btn {
    background-color: var(--theme-purple);
    font-size: 20px;
    color: white;
    width: 13%;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px grey ;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: blue;
    transform: translateY(105%);

}

.intro-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 80px;
    font-weight: 1000;
    color: green;
    margin: 0 auto;
}

.content-home {
    margin: 0 auto;
    margin-top: 10%;
}

.navbar {
    display: flex;
    justify-content: flex-start;
}


.button-acceuil {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}