<div id="room">
  <div *ngFor="let parcelle of parcelles; let i = index">
    <h1>Parcelle {{i}}</h1>
  
    <div class="divider"></div>

  <table
    id="ht"
    align="center"
    border="1"
    width="1250"
    class="table-striped table-hover"
  >
    <thead class="roomsheader">
      <th class="contentCell">NUMERO JARDIN</th>
      <th class="contentCell">CORDONEES (X,Y)</th>
      <th class="contentCell">DIMENSIONS (LONGUEUR, LARGEUR)</th>
    </thead>
    <tbody>
      
      <!-- <tr *ngFor="let parcelle of parcelles; let i = index"> -->
        <td class="contentCell" >{{ parcelle.jardinId }}</td>
        <td class="contentCell"  >{{ parcelle.coordonnees}}</td>
        <td class="contentCell">{{ parcelle.dimensions}}</td>
         
      <!-- </tr> -->
    </tbody>
  </table>
  <app-rang [coordonneesParcelle] = parcelle.coordonnees [jardinId]  = "jardinId">
  </app-rang>
</div>
</div>
