<div class = "jardin-page">
<div id="jardins">
  <h1>Découvrir nos Jardins !</h1>

  <div class="divider"></div>
  
  <table
    id="ht"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
    <thead class="roomsheader">
      <th class="contentCell">NUMERO JARDIN</th>
      <th class="contentCell">NOM</th>
      <th class="contentCell">SURFACE</th>
      <th class="contentCell">TYPE SOL</th>
      <th class="contentCell">TYPE JARDIN</th>
    </thead>
    <tbody>
      <tr *ngFor="let jardin of jardins; let i = index">
        <td class="contentCell" [routerLink]="['/parcelle', jardin.jardinid]" >{{ jardin.jardinid }}</td>
        <td class="contentCell"  [routerLink]="['/parcelle', jardin.jardinid]" >{{ jardin.nom}}</td>
        <td class="contentCell"  [routerLink]="['/parcelle', jardin.jardinid]" >{{ jardin.surface}}</td>
        <td class="contentCell"  [routerLink]="['/parcelle', jardin.jardinid]" >{{jardin?.typesol}}</td>
        <td class="contentCell"   [routerLink]="['/parcelle', jardin.jardinid]" >{{ getTypeJardin(jardin) }}</td>
      </tr>
    </tbody>
  </table>
</div>