<div id="room">
  <table
    id="ht"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
    <thead class="roomsheader">
      <th class="contentCell">NUMERO RANG</th>
      <th class="contentCell">PERIODE JACHERE</th>
      <th class="contentCell">COORDONNEES GEOGRAPHIQUE</th>
      <th class="contentCell">VARIETES</th>
    </thead>
    <tbody>
      <tr *ngFor="let rang of rangs; let i = index">
        <td class="contentCell">{{ rang.numero }}</td>
        <td class="contentCell">{{ rang?.periodeJachere}}</td>
        <td class="contentCell">{{ rang?.coordGeo }}</td>
        <td class="contentCell">{{ rang?.variete }}</td>
      </tr>
    </tbody>
  </table>
</div>


